[Unit]
Description=Porota RC4 host general backup daily off-market
[Timer]
OnCalendar=*-*-* 04:15:00 America/Argentina/Buenos_Aires
RandomizedDelaySec=10min
Persistent=true
[Install]
WantedBy=timers.target
